/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 déc. 2017, 12:04:38
    Author     : jmddu
*/
.root{
    -fx-background: blue;
}

.title{
    -fx-text-align: center;
    -fx-font-size: xx-large;
    -fx-font-weight: bold;
}